*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container {
    display: flex;
    background-color: lightcoral;
    max-width: 100vh;
    height: 100vh;
    margin: auto;
    flex-wrap: wrap;
}

.square {
    display: flex;
    background-color: rgb(226, 205, 13);
    flex: 1;
    min-width: 6.25%;
    min-height: 10px;
    border: 1px solid black;
}

/* .square:hover{
    background-color: black;
} */
