*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: end;
}

.container {
    display: flex;
    background-color: lightcoral;
    /* width: 80vw; */
    height: 100vh;
    flex-wrap: wrap;
    
}

.square {
    display: flex;
    background-color: rgb(226, 205, 13);
    flex: 1 1 auto;
}

/* .square:hover{
    background-color: black;
} */
